services:
  citus-coordinator:
    image: citusdata/citus:12.1
    container_name: citus-coordinator
    # Forzar que postgres se ejecute con la replicación lógica habilitada para que el rebalanceo de Citus pueda usar
    # la decodificación lógica. Estas opciones -c se pasan al servidor postgres al iniciar.
    command: ["postgres", "-c", "wal_level=logical", "-c", "max_wal_senders=10", "-c", "max_replication_slots=10"]
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      PGPASSWORD: postgres
      POSTGRES_DB: hce_distribuida
    ports:
      - "5432:5432"
    networks:
      - citus-net
    volumes:
      - citus-coordinator-data:/var/lib/postgresql/data
    # Usar el entrypoint por defecto de la imagen (arranca Postgres en primer plano)
    # Los pasos de creación de la extensión y añadir nodos pueden ejecutarse
    # después con `docker compose exec` o mediante scripts en /docker-entrypoint-initdb.d

  citus-worker1:
    image: citusdata/citus:12.1
    container_name: citus-worker1
    # Habilitar la replicación lógica también en los workers
    command: ["postgres", "-c", "wal_level=logical", "-c", "max_wal_senders=10", "-c", "max_replication_slots=10"]
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      PGPASSWORD: postgres
      POSTGRES_DB: hce_distribuida
    networks:
      - citus-net
    volumes:
      - citus-worker1-data:/var/lib/postgresql/data

  citus-worker2:
    image: citusdata/citus:12.1
    container_name: citus-worker2
    command: ["postgres", "-c", "wal_level=logical", "-c", "max_wal_senders=10", "-c", "max_replication_slots=10"]
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      PGPASSWORD: postgres
      POSTGRES_DB: hce_distribuida
    networks:
      - citus-net
    volumes:
      - citus-worker2-data:/var/lib/postgresql/data

networks:
  citus-net:
    # El parámetro 'driver: bridge' especifica que la red de Docker utilizará el controlador 'bridge',
    # que es el controlador de red predeterminado en Docker. Este tipo de red crea una red interna
    # en la que los contenedores pueden comunicarse entre sí, pero están aislados de la red externa,
    # a menos que se expongan puertos explícitamente.
    driver: bridge

volumes:
  citus-coordinator-data:
  citus-worker1-data:
  citus-worker2-data:
