fastapi>=0.95.0
uvicorn[standard]
python-jose[cryptography]
passlib[bcrypt]
python-dotenv
sqlalchemy>=1.4
psycopg2-binary
pydantic-settings
email-validator

# Necesario para procesar form-data en FastAPI (endpoints /token que usan OAuth2PasswordRequestForm)
python-multipart

# PDF generation
reportlab>=3.6
