apiVersion: v1
kind: Service
metadata:
  name: backend-service
  namespace: clinical-database
spec:
  type: ClusterIP
  selector:
    app: backend-api
  ports:
    - port: 8000
      targetPort: 8000
      protocol: TCP
